<!DOCTYPE html>
<html>

<head>
	<title>Weasley Wizard Wheezes</title>
    <link href="http://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
	<div class="sky">

		<h1 class="shop-name">Weasley Wizard Wheezes</h1>
        <p>
            Presenting a new Product from the <b>Weasley and Weasley</b>.
        </p>
        <p>
            "Guide & Risk Assesment"
        </p>
        <p>
            Wanna try...
        </p>
        <p>
            Go and touch the portkey
            
        </p>
        <p>
            <a href="/app">
                <img src="/images/cup.png" alt="portkey">
            </a>
        </p>
	</div>
</body>

</html>
