body
{
    margin: 0;
    color: #f3ef09;
    font-family: cursive;
    background-color: #570c0c;
}
#heading
{
    text-align: center;
}

main
{
    display: flex;
    flex-direction: column;
    border: 3px solid #f3ef09;
    box-shadow: 0 0 8px 8px inset rgb(10, 6, 6);
    width: 70%;
    margin: auto;
}
.heading-2
{
    /* border: 2px solid green; */
    background-color: #4CAF50
}
input,select
{
    border:none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
}
#description
{
    /* border: 2px solid red; */
    padding: 2%;
}
#container
{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.item
{
    /* border: 2px solid pink; */
    width: 48%;
    background-color: #4CAF50;
}
.tasks-btn-container
{
    display: flex;
    justify-content: center;
}


#list
{
    list-style-type: none;
    /* border: 5px solid pink ; */
    
}

.contact
{
    border: 5px solid black;
    display: flex;
    height: 5rem;
    width: 90%;
    margin-left: 1.5rem;
}
.details
{
    /* border: 5px solid rgb(212, 13, 13); */
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.custom-checkbox
{
    margin: auto;
    background-color: #4CAF50;
}
.custom-checkbox:checked +.details
{
    text-decoration: line-through;
    color: rgb(7, 3, 1);
    background-color: rgb(236, 236, 29);
    border-bottom: 2px solid rgb(10, 1, 1);
    border-top: 2px solid rgb(22, 1, 1);
}
#check
{
    width: 100%;
    border: 2px solid rgb(212, 13, 13);
    display: flex;
}
a{
    text-decoration: none;
}

.btn {background-image: linear-gradient(to right, #0f6308 0%, #88e61d  51%, #570c0c  100%)}
.btn {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 10px;
   display: block;
 }

 .btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .bttn {
    /* background-color: #4CAF50; Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

 .hide
 {
     display: none;
 }

 /* Responsive */
 @media screen and (max-width:980px) {
     
     .contact
     {
         margin-left: -0.5rem;
     }
     .details
     {
         flex-direction: column;
         align-items:center;
        
     }
     .details p {
        font-size: 15px;
     }
     .details .bttn
     {
        padding: 1.5%;
     }
 }